.ordered-items{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    width: 80%;
    margin: 0 auto;
}
.ordered-items h5{
    border: 2px solid gray;
    border-radius: 4px;
    padding: 2px 4px;
}