.ordered-items{
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    width: 80%;
    margin: 0 auto;
}
.ordered-items h5{
    border: 2px solid gray;
    border-radius: 4px;
    padding: 2px 4px;
}


/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .ordered-items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px;
        width: 98%;
    }
    .ordered-items h5{
        border: 1px solid gray;
    }
    .cancel-button{
        font-size: 12;
        margin: 2px;
    }
    
}