.offer-card {
    box-shadow: 1px 1px 4px 1px grey;
    height: 450px;
    border-radius: 5px;
}

.offer-card p{
    text-align: justify;
    line-height: normal;
    font-size: 12px;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .offer-card {
        height: 440px;
    }
    
}