.order-table td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.order-table{
    width: 80%;
    margin: 0 auto;
}

.cancel-button{
    font-size: 14;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 0;
    margin: 5px;
    background-color: red;
    color: white;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .cancel-button{
        font-size: 12;
        margin: 2px;
    }
    
}