
/* top destination  */

.top-destination-section{
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-gap: 20px;
}
.top-destination-card{
    position: relative;
}
.top-destination-section img{
    height: 150px;
    border-radius: 8px;
}
.top-destination-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

/* slider section */

.review-card{
    width: 100%;
    margin-bottom: 20px;
}

.review-img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid gray;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}