
/* top destination  */

.top-destination-section{
    width: 80%;
    margin: 0 auto;
    grid-gap: 20px;
}
.top-destination-card{
    position: relative;
}
.top-destination-card:hover .top-destination-text{
    left: 20px;
    bottom: 20px;
    transition: .5s;
}
.top-destination-img{
    width: 100%;
    border-radius: 8px;
}
.top-destination-text{
    position: absolute;
    left: -100000px;
    color: white;
}

/* slider section */

.review-card{
    width: 100%;
    margin-bottom: 20px;
}

.review-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid gray;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .top-destination-section{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
}