.offers-section{
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-gap: 20px;
}

.spinner-section{
    text-align: center;
}

.spinner{
    width: 50px;
    height: 50px;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .offers-section{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .spinner{
        width: 25px;
        height: 25px;
    }
}